@import '../variables.scss';

.header {
  display: flex;
  color: $gray;
}

.header_container {
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  background: $gray;
}

.menu_effect {
  a {
    display: inline-flex;
    position: relative;
    margin: 15px 15px;
    outline: none;
    color: $black;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
  }
}

.logo {
  display: inline-flex;
  justify-items: flex-start;
  align-items: center;
  font-size: 20px;

  span {
    color: $blue;
  }

  a {
    margin: 0px 15px;
    color: $blue;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
  }
}

.avatar {
  padding-top: 13px;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.menu_effect {
  display: inline-flex;

  a {
    padding: 8px 0;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 4px;
      background: $blue;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      transform: translateY(10px);
    }

    &:hover:after,
    &:focus:after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 500px) {
  .menu_effect {
    flex-direction: column;
  }
}